In [10]:
import numpy as np
import pandas as pd
import os 
import re
from pyvi import ViTokenizer

In [4]:
path_train = './data/train_foody_processed.csv'
path_test = './data/test_foody_processed.csv'
df_train = pd.read_csv(path_train)
df_train

                                                 comment  label
0      mua có mỗi bingsu thập_cẩm 45k mà mình f đợi h...      0
1      thứ 6 nào ta cùng quẩy vuvuzela ber club chung...      0
2      mình đi với nhóm tổng_cộng 4 người ăn chỉ có k...      0
3      nhân_viên phục_vụ không mấy tận_tình đồ ăn ra ...      0
4      vào đây thì hết bàn nhưng mình vẫn ngồi đợi bì...      0
...                                                  ...    ...
39995  quán không_gian nhỏ nhưng khá lịch_sự sạch_sẽ ...      1
39996  đi ăn lần 2 lần này rút kinh_nghiệm k yêu đồ ă...      1
39997  mình ăn 2 món mà quên tên mất rồi toàn từ cá_h...      1
39998  trong ảnh là 1 phần mì udon xào 1 phần cuốn ki...      1
39999  địa_điểm dễ tìm mậu thân quẹo vào đường bờ hồ ...      1

[40000 rows x 2 columns]

In [6]:
df_train = df_train.sample(frac=1).reset_index(drop=True)
df_train

                                                 comment  label
0      nhân_viên ở đây rất thân_thiện nhiệt_tình tổ_c...      1
1      cafe chiều dần buông lát nắng mảnh như tơ từ t...      1
2      đy ngang nhưng không thấy tiệm đó muốn ăn thử ...      0
3      hum nay mới đi ăn thử vài món thấy khá ngon gi...      0
4      lần đầu đến quán thấy 1 phong_cách khá lạ có c...      1
...                                                  ...    ...
39995  quay lại quán sau 1 năm tại có ng rủ đi quán c...      0
39996  chán khỏi nói như đi hửi phân ngựa vậy mà lần ...      0
39997  nhà_nghỉ phải nói là tệ về khoản không_gian gi...      0
39998  mình và đứa bạn thân đến ăn_ở món huế hôm_nay ...      0
39999  came here after diner parking and aces qua d e...      1

[40000 rows x 2 columns]

In [5]:
df_test = pd.read_csv(path_test)
df_test

                                                comment  label
0     quán này khá là nổi_tiếng nay mới có dịp ghé t...      0
1     đây là lần đầu_tiên mình ăn_ở đây và có_lẽ cũn...      0
2     tha i đô phu c vu nhân_viên không tô t_tra sư ...      0
3     đồ ăn bình_thường cần chăm_chút không_gian hơn...      0
4     phục_vụ lâu giá thì ổn thôi nhưng chất_lượng b...      0
...                                                 ...    ...
9995  gia re mon an ngon view đẹp va nhan vien nhiet...      1
9996  quán nằm trên đường thạch_thị thanh dễ tìm khô...      1
9997  mình đã đến ăn_ở quán này vài lần đồ ăn ngon g...      1
9998  nhà_hàng trang_trí độc_đáo món ăn mới_lạ nhiều...      1
9999  quán có đồ uống hạt_dẻ nhất khu_vực tc siêu rẻ...      1

[10000 rows x 2 columns]

In [7]:
df_test = df_test.sample(frac=1).reset_index(drop=True)
df_test

                                                comment  label
0     nhân_dịp lên phố cổ rẽ qua đây ăn quán khá dễ ...      1
1     thời_tiết siêu lạnh mưa_gió dầm_dề tay_chân tê...      1
2     hấp diêm thị_giác thật 3 cái gì cũng muốn ăn m...      1
3     hnay ghé lại ăn tuk tuk xem thế_nào nhân_viên ...      1
4     hôm cuối tuần mình thèm món thái ở gần nhà có_...      0
...                                                 ...    ...
9995  tàu hủ đá tạo được hương_vị riêng so với các n...      1
9996  mới đi phú quốc về có ghé quán ăn thử do người...      1
9997  haiz nay mới có dịp check quán này điểm cộng q...      0
9998  đồ uống không có gì đặc_sắc không ngon bằng nơ...      1
9999  nói_chung là quán này rất ok về cả vị_trí hươn...      0

[10000 rows x 2 columns]

In [12]:
# Danh sách stopword
stopword = list(open('vietnamese_stop_words.txt',encoding ='utf8'))
for i in range(len(stopword)):
    stopword[i] = stopword[i].replace('\n','')
    stopword[i] = ViTokenizer.tokenize(stopword[i])

## Bag of words

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score,accuracy_score,roc_auc_score,classification_report

In [31]:
from sklearn.feature_extraction.text import CountVectorizer

x = df_train.values[:,0]
#count_vec = CountVectorizer(ngram_range=(1,5),stop_words=stopword,max_df=0.5,min_df=5)
count_vec = CountVectorizer()
X = count_vec.fit_transform(x)

In [60]:
y = df_train.values[:,1].astype('int')
tree = DecisionTreeClassifier(max_depth = 10)
tree.fit(X,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=10, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [61]:
xtest = df_test.values[:,0]
Xtest = count_vec.transform(xtest)
ytest = df_test.values[:,1].astype('int')
y_train_pred = tree.predict(X)
y_test_pred = tree.predict(Xtest)
print('auc on training data set {:.4f}'.format(roc_auc_score(y,y_train_pred)))
print('auc on test data set {:.4f}'.format(roc_auc_score(ytest,y_test_pred)))
#print('f1 score on training data set {:.4f}'.format(f1_score(ytest,y_test_pred)))
#print('accuracy score on training data set {:.4f}'.format(accuracy_score(ytest,y_test_pred)))
print('classification report',classification_report(ytest,y_test_pred))

auc on training data set 0.8162
auc on test data set 0.7713
classification report               precision    recall  f1-score   support

           0       0.79      0.73      0.76      5000
           1       0.75      0.81      0.78      5000

    accuracy                           0.77     10000
   macro avg       0.77      0.77      0.77     10000
weighted avg       0.77      0.77      0.77     10000

## TF-IDF

In [62]:
from sklearn.feature_extraction.text import TfidfTransformer
#tfidf = TfidfTransformer(use_idf = False,sublinear_tf=True,norm='l2',smooth_idf=True)
tfidf = TfidfTransformer()
Xtf = tfidf.fit_transform(X)
tree.fit(Xtf,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=10, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [63]:
Xtftest = tfidf.transform(Xtest)
ytf_test_pred = tree.predict(Xtftest)
ytf_train_pred = tree.predict(Xtf)
print('auc on training data set {:.4f}'.format(roc_auc_score(y,ytf_train_pred)))
print('auc on test data set {:.4f}'.format(roc_auc_score(ytest,ytf_test_pred)))
print('f1 score on training data set {:.4f}'.format(f1_score(ytest,ytf_test_pred)))
print('accuracy score on training data set {:.4f}'.format(accuracy_score(ytest,ytf_test_pred)))
print('classification report \n',classification_report(ytest,ytf_test_pred))

auc on training data set 0.8293
auc on test data set 0.7793
f1 score on training data set 0.7819
accuracy score on training data set 0.7793
classification report
               precision    recall  f1-score   support

           0       0.79      0.77      0.78      5000
           1       0.77      0.79      0.78      5000

    accuracy                           0.78     10000
   macro avg       0.78      0.78      0.78     10000
weighted avg       0.78      0.78      0.78     10000

In [102]:
from sklearn.pipeline import Pipeline

In [105]:
text_clf = Pipeline([('vect', CountVectorizer()), ('tfidf', TfidfTransformer()), ('clf', DecisionTreeClassifier(criterion='entropy'))])

text_clf.fit(x,y)
y_pred = text_clf.predict(xtest)
print(accuracy_score(ytest,y_pred))
print(classification_report(ytest,y_pred))

0.7514
              precision    recall  f1-score   support

           0       0.75      0.75      0.75      5000
           1       0.75      0.75      0.75      5000

    accuracy                           0.75     10000
   macro avg       0.75      0.75      0.75     10000
weighted avg       0.75      0.75      0.75     10000

In [106]:
text_clf = Pipeline([('vect', CountVectorizer()), ('tfidf', TfidfTransformer()), ('clf', DecisionTreeClassifier(criterion='gini',max_depth = 15))])

text_clf.fit(x,y)
y_pred = text_clf.predict(xtest)
print(accuracy_score(ytest,y_pred))
print(classification_report(ytest,y_pred))

0.7542
              precision    recall  f1-score   support

           0       0.75      0.76      0.75      5000
           1       0.75      0.75      0.75      5000

    accuracy                           0.75     10000
   macro avg       0.75      0.75      0.75     10000
weighted avg       0.75      0.75      0.75     10000

## Áp dụng Pipeline

In [110]:
max_reg = None
max_score = 0  
best_max_depth = None
t=()
for m in range(2, 30) :
    rf_clf = Pipeline([('vect', CountVectorizer()), ('tfidf', TfidfTransformer(min_df=2, max_df=0.5, ngram_range=(1,2))), ('clf', DecisionTreeClassifier(criterion='gini',max_depth = m))])
    rf_clf.fit(x,y)
    y_pred = rf_clf.predict(xtest)
    #print(accuracy_score(ytest,y_pred))
    #print(classification_report(ytest,y_pred))
    rf_clf_score = rf_clf.score(xtest,ytest)
    print (m, rf_clf_score ,max_score) 
    if rf_clf_score > max_score :
        max_score = rf_clf_score
        max_reg = rf_clf
        best_max_depth = rf_clf['clf'].max_depth
        
        t = (m,max_score) 
print (t)

2 0.6945 0
3 0.7226 0.6945
4 0.7394 0.7226
5 0.7464 0.7394
6 0.7635 0.7464
7 0.7714 0.7635
8 0.7784 0.7714
9 0.7809 0.7784
10 0.7777 0.7809
11 0.7827 0.7809
12 0.7783 0.7827
13 0.7836 0.7827
14 0.7811 0.7836
15 0.781 0.7836
16 0.7791 0.7836
17 0.781 0.7836
18 0.78 0.7836
19 0.7805 0.7836
20 0.7798 0.7836
21 0.781 0.7836
22 0.7758 0.7836
23 0.7787 0.7836
24 0.7791 0.7836
25 0.7724 0.7836
26 0.7763 0.7836
27 0.7739 0.7836
28 0.7723 0.7836
29 0.7759 0.7836
(13, 0.7836)

In [122]:
tfvec = TfidfVectorizer(min_df=2, max_df=0.5,max_features = None)
Xtfvec = tfvec.fit_transform(x)
Xtfvec.shape

(40000, 19253)

In [136]:
# min_df = 5 Sẽ bỏ đi cái word nếu word đó xuất hiện dưới số min_df documents
# max_df = 0.5 sẽ bỏ đi các word nếu word đó xuất hiện lớn hơn 50% tổng số documents
from sklearn.feature_extraction.text import TfidfVectorizer
max_reg = None
max_score = 0  
best_max_depth = None
t=()
for m in range(4,5) :
    rf_clf = Pipeline([('tfidf', TfidfVectorizer(max_features = None,min_df=3, max_df=0.9,ngram_range=(1,3) )), ('clf', DecisionTreeClassifier(criterion='gini',max_depth = 13))])
    rf_clf.fit(x,y)
    y_pred = rf_clf.predict(xtest)
    #print(accuracy_score(ytest,y_pred))
    #print(classification_report(ytest,y_pred))
    rf_clf_score = rf_clf.score(xtest,ytest)
    print (m, rf_clf_score ,max_score) 
    if rf_clf_score > max_score :
        max_score = rf_clf_score
        max_reg = rf_clf
        best_max_depth = rf_clf['clf'].max_depth
        t = (m,max_score) 
print(t)

4 0.7962 0
(4, 0.7962)